<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3">

    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
    </listeners>
  <test name="LoginTests">
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test>

  <test name="InventoryTests">
    <classes>
      <class name="tests.InventryTest"/>
    </classes>
  </test>

</suite>